
<div class="main">
    <div class="section-1">
            <form class="form-signin">
                <a href="/profile" class="button btn menu btn-primary" type="submit"><h5>Accueil</h5> </a>
                <br>
                <a href="/tweet" class="button btn menu btn-primary" type="submit"><h5>Tweets</h5> </a>
                <br>
                <a href="/tweets/editer/{{user.id}}" class="button btn menu btn-primary" type="submit"><h5>Compte utilisateur</h5> </a>
                <br>
                <a href="/profil_utilisateur" class="button btn menu btn-primary" type="submit"><h5>Profil utilisateur</h5></a>
            </form>
            <br>
        
            <div>
                <a href="/logout" class="btn-danger button-2 button btn menu btn-primary">
                    Se déconnecter
                </a>
            </div>        
    </div>