  <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
        <label for="inputEmail">Recherche twitter</label>
    </div>
       <a id="tendence" href="https://twitter.com/search?q=%22JK%20Rowling%22&src=trend_click" >Tendances pour vous</a>
    <div class="follow">
        <div class="section-a">
           <h5>Sport</h5> 
        </div>
        <div class="section-b">
            <h5>Science</h5> 
        </div>
    </div>
     <h4>Follows</h4>
    <div class="follow-2">
        <div class="section-a-2"></div>
        <div class="section-b-2"></div>
        <div class="section-c-2"></div>
    </div>