 <div class=" mx-auto">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" action="/tweets/add" method="POST">
                <div class="form-group">
                    <input type="text" name="hashtag" class="form-control" placeholder="hashtags" required autofocus>
                </div>
                <div class="form-group">
                    <input type="email" name="url" class="form-control" placeholder="@">
                </div>
                <div class="form-group">
                    <textarea name="text" rows="2" class="form-control" placeholder="Tweet"></textarea>
                </div>
                <div class="form-group">
                    <button class="button-4 btn btn-lg btn-primary primary btn-block text-uppercase" type="submit">Tweet</button>
                </div>
            </form>
        </div>
    </div>
</div>