
<div id="form">
  <div id="image">
    <img src="img/twitter_login_sidebar_illustration.png" alt="image twitter">
  </div>
  <form action="" method="post" class="formulaire-inscription">
    <div class="form-email">
      <input type="email" placeholder= "Enter your email" email="email" id="email" required>
    </div>
    <div class="form-password">
      <input type="password" placeholder="Enter your password" name="password" id="password" required>
    </div>
    <a href="#">Forgot password ?</a>
    <div class="form-submit">
      <input type="submit" value="Login">
    </div>
    <p>OR</p>
    <div class="form-submit">
      <input type="submit" value="Signin">
    </div>
  </form>
</div>