{{>header}}
<div class="section-2">
    <h3> Salut POPO {{user.prenom}} {{user.nom}}</h3>
    <hr class="my-4">
       
    <div class="separador"></div>
   
    <div >
        {{>list}} 
    </div>
</div>
<div class="section-3">
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Recherche twitter</label>
    </div>
    <div class="follow">
        <h4>Tendances pour vous</h4>
        <div class="section-a"></div>
        <div class="section-b"></div>
        <div class="section-c"></div>
    </div>
    <div class="follow">
        <h4>Follows</h4>
        <div class="section-a"></div>
        <div class="section-b"></div>
        <div class="section-c"></div>
    </div>
</div>