{{>header}}

<div class="section-2">
    <h3>{{user.prenom}} {{user.nom}}</h3>
    <hr class="my-4">
       <div>
           {{>tweetadd}}
       </div>
    <div class="separador"></div>
    <div class="container p-4">
    <div >
       {{>plustweet}} 
    </div>
</div>

<div class="section-3">
  {{>follow}}
</div>