{{>autreheader}}
<div class="section-2">
    <h3>Tout les tweets</h3>
    <hr class="my-4">    
    <div class="container p-4">
    <div >
        {{>plustweet}}
    </div>
   
</div>

<div class="section-3">
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Recherche twitter</label>
    </div>
     <h4>Follows</h4>
    <div class="follow-2">
        <div class="section-a-2"></div>
        <div class="section-b-2"></div>
        <div class="section-c-2"></div>
         <div class="section-a-2"></div>
        <div class="section-b-2"></div>
        <div class="section-c-2"></div>
         <div class="section-a-2"></div>
        <div class="section-b-2"></div>
    </div>
</div>


