
<div class="main">
    <div class="section-1">
        
    </div>
    <div class="section-2">
        <h3>Twitter {{user.prenom}} {{user.nom}}</h3>
        <hr class="my-4">
        <div>
            {{>tweetadd}}
        </div>
        <div class="separador"></div>
        <div class="container p-4">
        <div >
            {{>tweets}}
        </div>
    </div>

    <div class="section-3">
        
    </div>
</div>


